@{
    ViewBag.Title = "Board Game Manager";
}

    

<div class="container">
    <br />
    <br /> 
    <input type="button" class="btn btn-info" style="text-align: center;" value="Add New Board Game" onclick="location.href=' @Url.Action("Create", "Boardgames" ) '" />  
    <br />  
    <br />
    <div class="col-sm-12">
        <table id="BoardGameList">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Board Game Name</th>
                    <th>Minimal Age</th>
                    <th>Board Game Type</th>
                    <th>Details</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
        </table>
    </div>

</div>
<link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />

@section scripts{

    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script>

        $(document).ready(function ()
        {
            $("#BoardGameList").DataTable({
                "ajax": {
                    "url": "@Url.Action("GetResults", "Boardgames")",
                    "processing": true,
                    "type": "POST",
                    "datatype": "json"

                },
                "columnDefs":
                [{
                    "targets": [0],
                    "visible": false,
                    "searchable": false
                },
                {
                    "targets": [4,5,6],
                    "searchable": false,
                    "orderable": false
                }],
                "columns": [
                    { "data": "Id", "name": "Id"},
                    { "data": "Name", "name": "Board Game Name"},
                    { "data": "MinAge", "name": "Minimanl Age" },
                    { "data": "Type", "name": "Board Game Type" },
                     {
                         "render": function (data, type, full, meta)
                         { return '<a class="btn btn-info" href="/BoardGames/Details/' + full.Id + '">Details</a>'; }
                     },
                    {
                        "render": function (data, type, full, meta)
                        { return '<a class="btn btn-info" href="/BoardGames/Edit/' + full.Id + '">Edit</a>'; }
                    },
                    {
                        data: null, render: function (data, type, row) {
                            return "<a href='#' class='btn btn-danger' onclick=DeleteData('" + row.Id + "'); >Delete</a>";
                        }
                    },
                ]

            });
        });


        function DeleteData(Id, Name) {
            if (confirm("Are you sure you want to delete?")) {
                Delete(Id);
            }
            else {
                return false;
            }
        }


        function Delete(Id)
        {
            $.ajax({
                url: '/Boardgames/DynamicDelete',
                dataType: "json",
                type: "DELETE",
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({id: Id}),
                async: true,
                processData: false,
                cache: false,
                success: function (data) {
                    var table = $('#BoardGameList').DataTable();

                    table.ajax.reload(function (json) {
                        $('#myInput').val(json.lastInput);
                    });
                },
                error: function (xhr) {
                    alert("Something Went Wrong!");
                }
            });
        }

    </script>
}